@{
    ViewBag.Title = "Quản Lý Chung Tuyển Dụng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li>
            <a href="/tuyendung/quanlychung">
                Quản Lý Chung Tuyển Dụng
            </a>
        </li>
        <li class="active">Danh Sách Chưa Hoàn Thành</li>
    </ol>
</div><!--/.row-->

<div class="panel panel-default">
    <div class="panel-heading">
        Danh sách chưa hoàn thành
        <span class="pull-right panel-toggle panel-button-tab-left"><em class="fa fa-download fa-xl color-orange"></em></span>
    </div>
    <div class="panel-body table-responsive">
        <table class="table table-condensed" id="danhsachchuahoanthanh">
            <thead>
                <tr>
                    <th>Mã Đăng Kí</th>
                    <th>Họ Và Tên Lót</th>
                    <th>Tên</th>
                    <th>Số CMND</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in ViewBag.DanhSachChuaHoanThanhs)
                    {
                        <tr>

                            <td>@item.Id</td>
                            <td>@item.LastName</td>
                            <td>@item.FirstName</td>
                            <td>@item.IdentifyCard</td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#danhsachchuahoanthanh').DataTable();
    });
</script>

