
@{
    ViewBag.Title = "QuanLyKetQuaTuyenDung";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li>
            <a href="/tuyendung/quanlychung">
                Quản Lý Chung Tuyển Dụng
            </a>
        </li>
        <li class="active">Danh Sách Hồ Sơ Hợp Lệ</li>
    </ol>
</div><!--/.row-->

<div class="panel panel-default">
    <div class="panel-heading">
        Danh sách hồ sơ hợp lệ
        <a href="/tuyendung/downloadexceltuyendung/hople"><span class="pull-right panel-toggle panel-button-tab-left"><em class="fa fa-download fa-xl color-orange"></em></span></a>
    </div>
    <div class="panel-body table-responsive">
        <table class="table table-condensed" id="danhsachdiem">
            <thead>
                <tr>
                    <th>Mã Đăng Kí</th>
                    <th>Mã Vòng 2</th>
                    <th>Họ Và Tên</th>
                    <th>Số CMND</th>
                    <th>Điểm LT</th>
                    <th>Điểm TH</th>
                    <th>Tổng</th>
                </tr>
            </thead>
            <tbody>                


            </tbody>
        </table>
    </div>
</div>


<script>
        $(document).ready(function () {
            $('#danhsachdiem').DataTable();
        });
</script>