@{
    ViewBag.Title = "Trang chủ";
}
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-primary">
            
            <div class="panel-body">
                <h3 class="text-center text-primary">TUYỂN DỤNG</h3>
                <ul>
                    <li><a href="/tuyendung/capnhathosougtuyen"><h4>Cập nhật hồ sơ ứng tuyển</h4></a></li>
                    <li><a href="#"><h4>In hồ sơ ứng tuyển</h4></a></li>
                    <li><a href="#"><h4>Xem kết quả tuyển dụng</h4></a></li>
                    <li><a href="#"><h4>Tình hình đăng kí</h4></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-primary">
            
            <div class="panel-body">
                <h3 class="text-center text-primary">THUYÊN CHUYỂN</h3>
                <ul>
                    <li><a><h4>Đăng kí mới</h4></a></li>
                    <li><a href="#"><h4>Cập nhật thông tin đăng kí</h4></a></li>
                    <li><a><h4>Tiến độ giải quyết hồ sơ</h4></a></li>
                    <li><a><h4>Mẫu hồ sơ</h4></a></li>
                    <li><a><h4>Hướng dẫn</h4></a></li>

                </ul>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <div class="panel panel-warning">
        <div class="panel-heading">TIN TỨC/THÔNG BÁO</div>
        <div class="panel-body">
            <ul>
                <li><a>dwad</a></li>
            </ul>
            
        </div>
    </div>
</div>