
@{
    ViewBag.Title = "HoSoMau";
    Layout = "~/Views/Shared/_Home_Layout.cshtml";
}
<style>
    ul {
        list-style-type: none;
    }
</style>
<div class="col-sm-10 col-sm-offset-1">
    <div class="panel panel-default">
        <div class="panel-body" style="font-size: 17px; font-family: 'Times New Roman'">
            <h3 class="text-center text-info">MẪU HỒ SƠ VÀ QUI TRÌNH ĐĂNG KÝ, GIẢI QUYẾT THUYÊN CHUYỂN CÔNG TÁC</h3>
            <p class="text-center text-danger">* Lưu ý: Hồ sơ không đăng ký trên mạng Internet và không đầy đủ theo qui định sẽ không được tiếp nhận và giải quyết.</p>
            <ul>
                <li><b>1. Thực hiện đăng ký</b></li>
                <li>
                    <ul>
                        <li>- Công chức, viên chức không đăng ký thông tin hồ sơ trên mạng Internet sẽ không được tiếp nhận hồ sơ và giải quyết.</li>
                        <li>- Công chức, viên chức đăng ký tại địa chỉ <a href="http://www.hcm.edu.vn/phongtccb">http://www.hcm.edu.vn/phongtccb</a>, chọn mục <b>Thuyên chuyển</b>, chọn <b>Đăng ký</b> để nhập thông tin hồ sơ;</li>
                        <li><b style="color: red">* Lưu ý:</b></li>
                        <li>- Mỗi người chỉ được đăng ký thông tin một lần đúng với số CMND;</li>
                        <li>- Ghi nhớ Mã số đăng ký sau khi đăng ký (VD: <b>TC125</b>)</li>
                        <li>- In <b>03</b> bản và ký tên trên phiếu đăng ký (dán phiếu vào bìa hồ sơ và lưu giữ);</li>
                        <li>- Trình phiếu đăng ký thông tin đăng ký khi cần thiết;</li>
                        <li>- Nếu có thay đổi thông tin đăng ký, sau khi sửa đổi công chức, viên chức phải in lại phiếu đăng ký.</li>

                    </ul>
                </li>
                <li><b>2. Thủ tục tiếp nhận hồ sơ:</b></li>
                <li>
                    <ul>
                        <li>- Hồ sơ không đầy đủ theo qui định tại Thông báo này sẽ không được tiếp nhận và giải quyết.</li>
                        <li>- Để tránh thất lạc, bản sao hồ sơ nên được sao y trên khổ giấy A4, sắp xếp hồ sơ đúng theo thứ tự qui định và đặt hồ sơ trong bìa nhựa có nút bấm khi nộp.</li>
                        <li>- Các loại hồ sơ là bản sao phải có công chứng có thời hạn không quá 06 tháng tính đến ngày nộp hồ sơ.</li>
                    </ul>
                </li>
                <li><b>2.1 Công chức, viên chức đang công tác trong ngành giáo dục và đào tạo thành phố Hồ Chí Minh có hộ khẩu thường trú ở xa nơi công tác, điều kiện đi lại khó khăn có nguyện vọng thuyên chuyển công tác đến các đơn vị thuộc ngành giáo dục và đào tạo thành phố.:</b></li>
                <li>
                    <ul>
                        <li>
                            - Số lượng hồ sơ: <b>02 bộ</b>. Riêng đối với công chức, viên chức đang công tác tại các đơn vị trường THPT và trung tâm GDTX thuộc Sở có nguyện vọng thuyên chuyển công tác đến các đơn vị trường THPT và trung tâm GDTX thuộc Sở nộp <b>01 bộ</b>.
                        </li>
                        <li>
                            - Thành phần hồ sơ gồm:
                        </li>
                        <li>a) Giấy đăng ký thuyên chuyển công tác (theo mẫu, <a>nhấn vào đây</a> để tải mẫu về máy tính) có ý kiến đồng ý của Thủ trưởng đơn vị nơi đang công tác (Lưu ý: đối với công chức, viên chức đang công tác tại các đơn vị trực thuộc Phòng Giáo dục và Đào tạo quản lý phải có ý kiến của Ủy ban nhân dân quận, huyện);</li>
                        <li>b) Sơ yếu lý lịch có dán ảnh đóng dấu giáp lai trên hình và trên các trang, có xác nhận của Thủ trưởng đơn vị (<a>nhấn vào đây</a>  để tải mẫu về máy tính) có giá trị trong thời hạn 06 tháng tính từ ngày nộp hồ sơ;</li>
                        <li>c) Bản sao văn bằng, chứng chỉ phù hợp với yêu cầu công việc;</li>
                        <li>d) Bản sao quyết định công nhận hết thời gian thử việc hoặc quyết định bổ nhiệm ngạch công chức, viên chức;</li>
                        <li>đ) Bản sao quyết định lương hiện hưởng;</li>
                        <li>e) Bản sao hộ khẩu thường trú;</li>
                        <li>g) Phiếu đánh giá công chức, viên chức hai năm học liền kề;</li>
                    </ul>
                </li>
                <li>

                    <b>2.2 Đối với công chức, viên chức đang công tác trong ngành giáo dục và đào tạo thành phố có nguyện vọng thuyên chuyển đến các đơn vị khác:</b>
                </li>
                <li>
                    <ul>
                        <li>- Số lượng hồ sơ: <b>02 bộ</b>.</li>
                        <li>- Thành phần hồ sơ gồm:</li>
                        <li>a) Giấy đăng ký thuyên chuyển công tác (<a>theo mẫu</a>) có ý kiến đồng ý của Thủ trưởng đơn vị nơi đang công tác. Riêng đối với công chức, viên chức trực thuộc Phòng Giáo dục và Đào tạo quản lý phải có ý kiến của Ủy ban nhân dân quận, huyện);</li>
                        <li>b) Bản chính Sơ yếu lý lịch có dán ảnh, đóng dấu giáp lai trên hình và trên các trang, có xác nhận của Thủ trưởng đơn vị (nhấn vào đây) trong thời hạn 06 tháng tính từ ngày nộp hồ sơ;</li>
                        <li>c) Bản sao văn bằng, chứng chỉ phù hợp với yêu cầu công việc;</li>
                        <li>d) Bản sao quyết định công nhận hết thời gian tập sự, thử việc hoặc quyết định bổ nhiệm ngạch công chức, viên chức;</li>
                        <li>đ) Bản sao quyết định lương hiện hưởng;</li>
                        <li>e) Bản sao hộ khẩu thường trú;</li>
                        <li>g) Bản sao phiếu đánh giá công chức, viên chức hai năm học liền kề;</li>
                        <li>h) Bản chính các loại hồ sơ khác (nếu có) liên quan đến nơi có nguyện vọng chuyển đến như: văn bản đồng ý tiếp nhận của nơi chuyển đến hoặc hộ khẩu của chồng (vợ) đang thường trú tại nơi chuyển đến…</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
