
@{
    ViewBag.Title = "Option";
    Layout = "~/Views/Shared/_Home_Layout.cshtml";
}

@*<div class="col-sm-12" style="padding-top: 80px;">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <a href="/thuyenchuyen/dangkimoi"><h2 class="text-center text-primary text-uppercase">Trong thành phố</h2></a>
                <p class="text-center text-warning">Dành cho các viên chức, công chức đang công tác tại Thành phố Hồ Chí Minh</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <a href="/thuyenchuyenngoaitinh/dangkimoi"><h2 class="text-center text-primary text-uppercase">Ngoài tỉnh chuyển vào</h2></a>
                <p class="text-center text-warning">Dành cho các viên chức, công chức đang công tác tại các tỉnh, thành khác</p>
            </div>
        </div>
    </div>
</div>*@
