
@{
    ViewBag.Title = "TienDoHoSo";
    Layout = "~/Views/Shared/_Home_Layout.cshtml";
}

<div class="col-sm-10 col-sm-offset-1" style="padding-top: 60px;">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="text-center">
                <h3 class="text-info text-uppercase">Kiểm tra tiến độ hồ sơ</h3>
                <p class="text-warning">Vui lòng nhập mã đăng kí và cmnd để hệ thống kiểm tra</p>
                <form class="form-inline">
                    <div class="form-group">
                        <label for="exampleInputName2" class="control-label">Mã đăng kí</label>
                        <input type="text" class="form-control" id="madangki">
                    </div>
                    <div class="form-group has-feedback">
                        <label for="exampleInputEmail2" class="control-label">CMND</label>
                        <input type="email" class="form-control" id="cmnd">
                    </div>
                    <button type="submit" class="btn btn-success" onclick="checkThuyenChuyen(event);">Kiểm tra</button>
                    <p class="text-danger" style="font-size: 16px; padding-top: 10px;" id="error"></p>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-10 col-sm-offset-1">
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table" id="trangthai" hidden>
                <thead>
                    <tr>
                        <th>Họ tên</th>
                        <th>Năm sinh</th>
                        <th>CMND</th>
                        <th>Đang công tác</th>
                        <th>Chuyển đến</th>
                        <th>Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                    <tr></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    function checkThuyenChuyen(event) {
        event.preventDefault();
        if ($('#madangki').val() == '' || $('#cmnd').val() == '') {
            $('#error').text('Vui lòng nhập');
        }
        else {
            $('#error').text('');
            $.get('/thuyenchuyen/tiendogiaiquyethoso/' + $('#madangki').val() + '/' + $('#cmnd').val(), function (data, status) {
                if (data.StatusCode == 200 && status == 'success') {
                    var dataJson = JSON.parse(data.Results)
                    debugger
                    if (dataJson.TienTo == 'TC') {
                        $("#trangthai > tbody").html("");
                        if (dataJson.StatusId != null) {
                            $('#trangthai').append('<tr><td>'
                                + dataJson.HoTen + '</td><td>'
                                + moment(dataJson.NamSinh).format("DD/MM/YYYY") + '</td><td>'
                                + dataJson.CMND + '</td><td>'
                                + dataJson.School.TenTruong + '</td><td>'
                                + dataJson.School1.TenTruong + '</td><td>'
                                + dataJson.StatusThuyenChuyen.Name + '</td></tr>');  
                        }
                        else {
                            $('#trangthai').append('<tr><td>'
                                + dataJson.HoTen + '</td><td>'
                                + moment(dataJson.NamSinh).format("DD/MM/YYYY") + '</td><td>'
                                + dataJson.CMND + '</td><td>'
                                + dataJson.School.TenTruong + '</td><td>'
                                + dataJson.School1.TenTruong + '</td><td>'
                                + 'Chưa tiếp nhận' + '</td></tr>');  
                        }
                                            
                        $('#trangthai').show();
                    }
                    else {
                        $("#trangthai > tbody").html("");
                        if (dataJson.StatusId != null) {
                            $('#trangthai').append('<tr><td>'
                                + dataJson.HoTen + '</td><td>'
                                + moment(dataJson.NamSinh).format("dd/MM/yyyy") + '</td><td>'
                                + dataJson.CMND + '</td><td>'
                                + dataJson.DVDCTTenTruong + '</td><td>'
                                + dataJson.School.TenTruong + '</td><td>'
                                + dataJson.StatusThuyenChuyen.Name + '</td></tr>');
                        }
                        else {
                            $('#trangthai').append('<tr><td>'
                                + dataJson.HoTen + '</td><td>'
                                + moment(dataJson.NamSinh).format("dd/MM/yyyy") + '</td><td>'
                                + dataJson.CMND + '</td><td>'
                                + dataJson.DVDCTTenTruong + '</td><td>'
                                + dataJson.School.TenTruong + '</td><td>'
                                + 'Chưa tiếp nhận' + '</td></tr>');
                        }
                        
                        
                        $('#trangthai').show();
                    }
                }
                else {
                    $('#trangthai').hide();
                    $('#error').text(data.Message);
                }
            })
        }
    }
</script>
