
@{
    ViewBag.Title = "Mã Đăng Kí";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">Mã Đăng Kí</li>
    </ol>
</div><!--/.row-->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Mã Đăng Kí</h1>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <ul class="pull-right panel-settings panel-button-tab-right">
            <li class="dropdown">
                <a class="pull-right dropdown-toggle" data-toggle="dropdown" href="#">
                    <em class="fa fa-cogs"></em>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <ul class="dropdown-settings">
                            <li>
                                <a href="#" data-toggle="modal" data-target="#myModal">
                                    <em class="fa fa-cog"></em> Cập nhật
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="panel-body">
        @*<div class="container bill-print">
                <div class="row">
                    <div class="col-sm-8 col-xs-8">
                        <p>SỞ GIÁO DỤC VÀ ĐÀO TẠO TP.HỒ CHÍ MINH</p>
                        <p><i>66-68 Lê Thánh Tôn Phường Bến Nghé Quận 1 TP.HCM</i></p>
                    </div><div class="col-sm-4 col-xs-4">
                        <h4>Mã hồ sơ: <b>001</b></h4>
                    </div>
                </div><h3 class="text-center bill"><b>BIÊN LAI THU TIỀN</b></h3>
                <p class="text-center"><i>Ngày 30 tháng 7 năm 2018</i></p>
                <div class="bill col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                    <p>Họ, tên người nộp: <b>Nguyễn Văn A</b></p><p>Số CMND: <b>123456789</b></p>
                    <p>Nội dung nộp: <b>Lệ phí dự tuyển viên chức 2018</b></p><p>
                        Số tiền thu: <b>
                            30000
                        </b> (Viết bằng chữ): Ba mươi ngàn đồng<b></b>
                    </p>
                </div><div class="row">
                    <div class="bill col-sm-6 col-xs-6">
                        <p class="text-center"><b>Người nộp tiền</b></p>
                        <p class="text-center"><i>(Ký và ghi rõ họ tên)</i></p>
                    </div>
                    <div class="bill col-sm-6 col-xs-6">
                        <p class="text-center">
                            <b>Người thu tiền</b>
                        </p><p class="text-center"><i>(Ký và ghi rõ họ tên)</i></p>
                    </div>
                </div><div class="warning-box">
                    <p><b>Lưu ý: </b></p><ul>
                        <li>Ứng viên vui lòng truy cập vào <b>http://tuyendung/hosoungtuyen</b> để cập nhập hồ sơ ứng tuyển</li>
                        <li>Ứng viên vui lòng đến <b>SỞ GIÁO DỤC VÀ ĐÀO TẠO TP.HỒ CHÍ MINH</b> vào ngày <b>22/7/2018</b> để rà xoát hồ sơ (<i>Mục đích là để đối chiếu hồ sơ với bản khai. Vui lòng tới đúng giờ</i>)</li>
                        <li>Khi đi ứng viên vui lòng in hố sơ ứng tuyển thành <b>2 bản</b>, sau khi đã hoàn tất cập nhật hồ sơ ứng tuyển</li>
                        <li>Đề nghị ứng viên theo dõi thông báo trên website của nơi đăng kí ứng tuyển (phòng TCCB đối với Sở GD&DT TP.HCM )</li>
                    </ul>
                </div>
            </div>*@


        <div class="container bill-print">
            <div class="row">
                <div class="col-sm-4 col-xs-4">
                    <p class="text-center">ỦY BAN NHÂN DÂN</p>
                    <p class="text-center">THÀNH PHỐ HỒ CHÍ MINH</p>
                    <p class="text-center"><b style="border-bottom: 1px solid black;">SỞ GIÁO DỤC VÀ ĐÀO TẠO</b></p>
                </div>
            <div class="col-sm-8 col-xs-8">
                    <p class="text-center"><b>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</b></p>
                    <p class="text-center"><b style="border-bottom: 1px solid black;">Độc lập - Tự do - Hạnh phúc</b></p>
                </div>
            </div><p class="text-center bill"><b>PHIẾU NHẬN HỒ SƠ CHUYỂN CÔNG TÁC</b></p>
            <p class="text-center"><b style="border: solid 1px">Mã số Hồ sơ đăng ký: </b></p>
            <div class="bill col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                <p><b>1. Tên người đăng kí chuyển công tác: </b>Nguyễn Văn A</p>
                <p><b>2. Đơn vị đang công tác: </b>Nguyễn Văn A</p>
                <p>
                    <b>3. Nội dung Hồ sơ: </b>
                    Chuyển công tác trong các đơn vị sự nghiệp trực thuộc Sở Giáo dục và Đào tạo.
                    @*Chuyển công tác đối với các đơn vị trong biên chế TP.HCM đến Sở GD&ĐT.
                        Chuyển công tác từ các tỉnh, thành phố khác đến Sở Giáo dục và Đào tạo TP.HCM.*@
                </p>
                <p><b>4. Thành phần hồ sơ nộp: </b>Nguyễn Văn A</p>
                <p>- Số lượng hồ sơ: 1 bộ</p>
                <p>- Hồ sơ gồm: </p>
                <p><label><input style=" transform: scale(1.5);" type="checkbox" name="checkbox" value="value"> Đơn đăng ký chuyển công tác có ý kiến đồng ý của Thủ trưởng cơ quan, đơn vị nơi đang công tác (theo mẫu); <i>(Lưu ý: đối với Viên chức đang công tác tại các đơn vị trực thuộc Ủy ban nhân dân quận, huyện hoặc các đơn vị khác thuộc biên chế Thành phố Hồ Chí Minh phải có ý kiến đồng ý cho chuyển công tác của Ủy ban nhân dân quận, huyện hoặc đơn vị chủ quản cấp trên trực tiếp của đơn vị);</i></label></p>
                <p><label><input style=" transform: scale(1.5);" type="checkbox" name="checkbox" value="value"> Công văn của cơ quan, đơn vị có ý kiến đồng ý tiếp nhận nêu rõ vị trí chức danh nghề nghiệp đơn vị có nhu cầu bổ sung;</label></p>
                <p><label><input style=" transform: scale(1.5);" type="checkbox" name="checkbox" value="value"> Bản chính Sơ yếu lý lịch có dán ảnh, đóng dấu giáp lai trên hình và trên các trang, có xác nhận của Thủ trưởng đơn vị (theo mẫu Thông tư số 12/2012/TT-BNV của Bộ Nội vụ) không quá thời hạn 06 tháng tính đến ngày nộp hồ sơ;</label></p>
                <p><label><input style=" transform: scale(1.5);" type="checkbox" name="checkbox" value="value"> Bản sao có chứng thực văn bằng, chứng chỉ phù hợp theo tiêu chuẩn chức danh nghề nghiệp và vị trí việc làm;</label></p>
                <p><label><input style=" transform: scale(1.5);" type="checkbox" name="checkbox" value="value"> Bản sao có chứng thực quyết định tuyển dụng viên chức và quyết định bổ nhiệm chức danh nghề nghiệp đối với viên chức;</label></p>
                <p><label><input style=" transform: scale(1.5);" type="checkbox" name="checkbox" value="value"> Bản sao quyết định lương hiện hưởng;</label></p>
                <p><label><input style=" transform: scale(1.5);" type="checkbox" name="checkbox" value="value"> Giấy chứng nhận sức khỏe có kết luận đủ sức khỏe công tác, do cơ quan y tế có thẩm quyền cấp theo quy định tại Thông tư số 14/2013/TT-BYT ngày 06 tháng 5 năm 2013 của Bộ Y tế hướng dẫn khám sức khỏe (trong vòng 6 tháng tính đến thời điểm nộp hồ sơ);</label></p>
                <p><label><input style=" transform: scale(1.5);" type="checkbox" name="checkbox" value="value"> Phiếu đánh giá, phân loại viên chức 02 năm học liền kề (2017 – 2018 và 2018-2019);</label></p>
                <p><b>5. Ngày nộp hồ sơ: </b>Nguyễn Văn A</p>
                <p><b>6. Số điện thoại liên hệ: 028.38290927 (Phòng Tổ chức Cán bộ)</b>	</p>
                <p><b>7. Lưu ý: Sở Giáo dục và Đào tạo thường xuyên cấp nhật tiến độ giải quyết tại trang web: http://tuyendung.hcm.edu.vn/thuyenchuyen/tiendogiaiquyethoso./. </b></p>
            </div><div class="row">
                <div class="bill col-sm-offset-6 col-xs-offset-6 col-sm-6 col-xs-6">
                    <p class="text-center">
                        <b>Người nhận Hồ sơ</b>
                    </p><p class="text-center"><i>(Ký và ghi rõ họ tên)</i></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Cập nhật mã đăng kí</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" action="" method="post">
                    <fieldset>
                        <!-- Name input-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="name">Nội dung thu tiền</label>
                            <div class="col-md-9">
                                <input id="name" name="name" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="name">Số tiền bằng số</label>
                            <div class="col-md-3">
                                <input id="name" name="name" type="number" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="name">Số tiền bằng chữ</label>
                            <div class="col-md-9">
                                <input id="name" name="name" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="name">Địa điểm rà xoát</label>
                            <div class="col-md-9">
                                <input id="name" name="name" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="name">Ngày ra soát</label>
                            <div class="col-md-3">
                                <input id="name" name="name" type="text" class="form-control">
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary">Cập nhật</button>
            </div>
        </div>
    </div>
</div>