
@{
    ViewBag.Title = "Kiểm tra CMND";
    Layout = "~/Views/Shared/_Home_Layout.cshtml";
}
<div class="col-sm-10 col-sm-offset-1">
    <div class="text-center checkIDBox">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-inline" id="kiemtracmnd">
                    @Html.AntiForgeryToken()
                    <h3 class="text-center text-info">VUI LÒNG NHẬP CMND/CCCD</h3>
                    <div class="form-group">
                        <label for="formInlineEmail" class="control-label">Số CMND/CCCD</label>
                        <input name="cmnd" type="text" id="cmnd" class="form-control" value="">
                    </div>
                    <button type="submit" class="btn btn-success" id="submit">XÁC NHẬN</button>
                    <span class="loader" id="loader" hidden=""></span>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#kiemtracmnd').validate({
            rules: {
                cmnd: {
                    required: true,
                    maxlength: 12,
                    minlength: 9
                }
            },
            messages: {
                cmnd: {
                    required: 'Vui lòng nhập',
                    maxlength: 'Độ dài không hợp lệ',
                    minlength: 'Độ dài không hợp lệ',
                },
            },
            errorElement: "em",
            errorPlacement: function (error, element) {
                // Add the `help-block` class to the error element
                error.addClass("help-block");

                // Add `has-feedback` class to the parent div.form-group
                // in order to add icons to inputs
                element.parent().addClass("has-error");

                if (element.prop("type") === "checkbox") {
                    error.insertAfter(element.parent("label"));
                } else {
                    error.insertAfter(element);
                }

                // Add the span element, if doesn't exists, and apply the icon classes to it.
            },
            highlight: function (element, errorClass, validClass) {
                $(element).parent().addClass("has-error");
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).parent().removeClass("has-error");
            },
            submitHandler: function (form) {
                $('#loader').show();
                $('#submit').hide();
                $.post("/tuyendung/kiemtracmndPost/", {
                    cmnd: $('#cmnd').val().trim(),
                    __RequestVerificationToken: $("input[name=__RequestVerificationToken]").val(),
                }, function (data, status) {
                    if (status == 'success' && data.StatusCode == 200) {
                        window.location.replace('/tuyendung/kiemtramadangki/' + data.Results);
                    }
                    else if (status == 'success' && data.StatusCode == 404) {

                        window.location.replace('/tuyendung/taomoihosoungtuyen/' + data.Results);
                    }
                    else {
                        $.confirm({
                            title: 'Thất bại',
                            content: 'Có lỗi sảy ra!',
                            type: 'red',
                            typeAnimated: true,
                            buttons: {
                                OK: function () {

                                }
                            }
                        });
                    }
                });
            },
        });
    });
</script>